.rollCounter {
   padding-top: 1rem;    
    .rollCounter__heading {
        font-size: 0.8rem;
        font-weight: 600;
        color: #2b283a;
    }
    .rollCounter__count {
        font-weight: 700;
        font-size: 1.25rem;
    }
}
