.heading {
    font-size: 0.8rem;
    line-height: 2rem;
    font-weight: 600;
    color: #2b283a;
    text-align: center;
}

.count {
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 2rem;
}
